<br><h2 *ngIf="!items">No items in this menu.. </h2>
{{menu}}
<div class="box">

  <mat-card class="example-card" class="mat-elevation-z5" *ngFor="let item of items">
    <mat-card-content>
      <mat-card-title>{{ item.name | titlecase }}</mat-card-title>
      <mat-card-subtitle>{{ item.price | currency}}</mat-card-subtitle>
      <p>
        {{ item.description | titlecase}}
      </p>
      <button mat-raised-button color="accent">Remove</button>
    </mat-card-content>
  </mat-card>


</div>

