<div class="container-fluid">
  <div class="row flex-nowrap">

    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
               <button mat-button [class]="['nav-link', 'align-middle', 'px-0','text-muted']" href="#menu1" data-bs-toggle="collapse" >
                 <mat-icon aria-hidden="false" aria-label="Example home icon">menu_book</mat-icon>
                  <span class="ms-1 d-none d-sm-inline"> Menus</span>
              </button>
              <ul class="collapse show nav flex-column ms-1" id="menu1" data-bs-parent="#menu">
                <li>
                  <a (click)="openDialog()" class="nav-link px-0"> <span [class]="['d-none', 'd-sm-inline','text-white']">New</span></a>
                </li>
                <li>
                  <a routerLink="menu" class="nav-link px-0"> <span [class]="['d-none', 'd-sm-inline','text-white']"> View</span></a>
                </li>
              </ul>
           </li>

          <li>
            <button mat-button [class]="['nav-link', 'px-0', 'align-middle','text-muted']" routerLink="order">
              <mat-icon aria-hidden="false" aria-label="Example home icon">tapas</mat-icon>
              <span class="ms-1 d-none d-sm-inline">Orders</span>
            </button>
          </li>

          <li>
            <button mat-button [class]="['nav-link', 'px-0', 'align-middle','text-muted']" routerLink="front-menu">
              <mat-icon aria-hidden="false" aria-label="Example home icon">point_of_sale</mat-icon>
              <span class="ms-1 d-none d-sm-inline">Make order</span>
            </button>
          </li>

          <li>
            <button mat-button href="#submenu3" data-bs-toggle="collapse" [class]="['nav-link', 'px-0', 'align-middle','text-muted']">
              <mat-icon aria-hidden="false" aria-label="Example home icon">auto_awesome_mosaic</mat-icon>
                <span class="ms-1 d-none d-sm-inline">Table Management</span>
            </button>
                  <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                     <li class="w-100">
                       <a routerLink="add-table" class="nav-link px-0"> <span [class]="['d-none', 'd-sm-inline','white-text']">Add</span></a>
                     </li>
                     <li>
                     <a routerLink="table" class="nav-link px-0"> <span [class]="['d-none', 'd-sm-inline', 'text-white']">View</span></a>
                    </li>
                  </ul>
          </li>

          <li>
            <button mat-button data-bs-toggle="collapse" [class]="['nav-link', 'px-0', 'align-middle', 'text-muted']" routerLink="stats" >
               <mat-icon aria-hidden="false" aria-label="Example home icon">insights</mat-icon>
               <span class="ms-1 d-none d-sm-inline">Statistics</span>
            </button>
          </li>

          <li>
            <button mat-button href="#submenu1" [class]="['nav-link', 'px-0', 'align-middle', 'text-muted']" data-bs-toggle="collapse">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
            </button>
               <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                 <li>
                   <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> New</a>
                </li>
                 <li>
                   <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> View</a>
                 </li>
               </ul>
          </li>
        </ul>
        <hr>

      </div>
    </div>

    <!--content section-->
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
