
<h2>Make Orders</h2>

<!--option to select from menu list-->
<button mat-flat-button color="warn" [matMenuTriggerFor]=" trigger" [class]="['mb-3']">Take Order <mat-icon>more_vert</mat-icon></button>

<mat-menu #trigger="matMenu"  >
   <ul *ngFor="let mn of menus">
      <li><button mat-menu-item (click)="displayItems(mn.id)"> {{ mn['name'] }}</button></li>
   </ul>


</mat-menu>
<br>

<div class="box" *ngFor="let item of items">

  <mat-card class="example-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.price | currency }}</mat-card-subtitle>
      <p [class]="['my-3']">{{ item.description }}</p>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              add message
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill" color="warn">
            <mat-label>Textarea</mat-label>
            <textarea matInput #messege></textarea>
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button color="warn" [class]="['my-2']" (click)="addToOrder(item)">Add</button>

    </mat-card-content>
  </mat-card>


</div>

<br>
<button mat-fab color="warn" [class]="['new-exam']" routerLink="/new-exam">
  <i class="material-icons">preview</i>
</button>
<br>

<cart-view [customEmptyContent]="true">
  <div class="my-empty-cart-view">
    <span style="font-size: 36px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    Your cart is empty
  </div>
</cart-view>
