<h2>Orders</h2>

//order button
<button mat-flat-button color="accent" [matMenuTriggerFor]="menu">Take Order <mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu" >
  <button mat-menu-item>menu 1</button>
  <button mat-menu-item>menu 2</button>
</mat-menu>
<br>

<div class="exams">

  <mat-card class="example-card" class="mat-elevation-z5">
    <mat-card-content>
      <mat-card-title>Item title</mat-card-title>
      <mat-card-subtitle>Price</mat-card-subtitle>

      <p [class]="['my-3']">description goes here</p>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              add message
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button color="accent" [class]="['my-2']">Add</button>

    </mat-card-content>
  </mat-card>


</div>
<button mat-fab color="primary"
        class="new-exam" routerLink="/new-exam">
  <i class="material-icons">note_add</i>
</button>
