<div [class]="['box']">

  <table class="table caption-top">
    <caption>Table name</caption>
    <caption>Time: date</caption>
    <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col ">Note</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of items, let i = index">

      <td>{{ item.name }}</td>
      <td>{{ item.price | currency:'EUR' }}</td>
      <td [class]="['text-bold', 'text-danger']" >{{ item.quantity }}</td>

    </tr>
    </tbody>
  </table>
  <button  mat-raised-button color="warn" [class]="['mx-2']" (click)="clear()" color="warn"> cancel </button>
  <button  mat-raised-button color="success" [class]="['mx-2']" (click)="makeOrder()" color="warn"> make order </button>
</div>
