<div [class]="['box']">

  <table class="table caption-top">
    <caption></caption>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">quantity</th>

    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of items, let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>


    </tr>
    </tbody>
  </table>

  <button  mat-raised-button color="warn" [class]="['my-2']" (click)="clear()" color="warn"> clear </button>

</div>
