<div [class]="['container','position-relative']">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" routerLink="/dashboard">Login</button>

  <p>Dont have an account? <span>login</span></p>

</div>
