<div>
  <form class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Business Name</mat-label>
      <input matInput placeholder="Business name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="confirm password">
     </mat-form-field>
  </form>
  <button mat-raised-button color="primary">Sign up</button>
</div>

