

  <h2 mat-dialog-title>Add New Menu</h2>


  <mat-dialog-content [formGroup]="form">

    <mat-form-field [class]="['m-2']">
      <input matInput placeholder="Name" formControlName="name">
      <mat-hint align="end">to uniquely  identify menu</mat-hint>
    </mat-form-field>

    <mat-form-field [class]="['m-2']">
      <input matInput placeholder="Type" formControlName="type">
      <mat-hint align="end">eg Lunch, Brunch</mat-hint>
    </mat-form-field><br />

    <mat-radio-group aria-label="Select an option" formControlName="active" [class]="['m-2']">
      <mat-radio-button value="1" [class]="['m-1']">On</mat-radio-button>
      <mat-radio-button value="2">off</mat-radio-button>
      <mat-label>Sset visibility to other users</mat-label>
    </mat-radio-group>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()" [class]="['m-1']"> Close </button>
    <button class="mat-raised-button mat-primary" (click)="save()" [class]="['m-1']"> Save </button>
  </mat-dialog-actions>


