<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="tableForm" >

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="name" formControlName="name">
          <mat-hint align="end">eg Table 1,Table 2 etc</mat-hint>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)="tableSubmit()">Add Table</button>

    </form>
  </mat-card>
</div>
