
<div [class]="['container-fluid']">
<div class="row">
  <div class="col-6 align-self-center my-5" >

    <div class="card card-block my-5">
      <div class="container align-content-center my-5">
        <a class="a-btn ">
          <span class="a-btn-text">Register now</span>
          <span class="a-btn-slide-text">get started</span>
          <span class="a-btn-icon-right"><span></span></span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-6 my-5">
    <div class="card card-inverse card-danger my-5">

      <div class="container align-content-center my-5">
        <a class="a-btn ">
          <span class="a-btn-text">Login</span>
          <span class="a-btn-slide-text">Auto order</span>
          <span class="a-btn-icon-right"><span></span></span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div [class]="['container-fluid']">
<div class="row">
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>Sales Tracking</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>User Friendly</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>Free for lifetime</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      Auto Order Taking
      <code>.mx-auto</code>
      <h5>Easing the process of taking orders</h5>
    </div>
  </div>
</div>
</div>
<hr>
