
<div [class]="['container-fluid']">
<div class="row">
  <div class="col-6 align-self-center my-5" >

    <div class="card card-block my-5">
      <div class="container align-content-center my-5">
        <a href="#" class="a-btn ">
          <span class="a-btn-text">Register now</span>
          <span class="a-btn-slide-text">To get started</span>
          <span class="a-btn-icon-right"><span></span></span>
        </a>
      </div>
    </div>
  </div>

  <div class="col-6 my-5">
    <div class="card card-inverse card-danger my-5">

      <div class="container align-content-center my-5">
        <a href="#" class="a-btn ">
          <span class="a-btn-text">Login</span>
          <span class="a-btn-slide-text">To Create orders</span>
          <span class="a-btn-icon-right"><span></span></span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div [class]="['container-fluid']">
<div class="row">
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code>
    </div>
  </div>
  <div class="col-4 mx-auto">
    <div class="card card-body mb-2">
      <h6>I'm .col-4</h6>
      <code>.mx-auto</code> center uneven grid cols
    </div>
  </div>
</div>
</div>
<hr>
